body {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.completed {
  text-decoration: line-through;
}

.uncomplete-section, .complete-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background-color: #333;
  color: white;
  border-radius: 10px;
  transition: transform 0.3s, background-color 0.3s;
  width: 100%; /* Make the cards take full width */
  margin: 10px 0; /* Add some vertical spacing */
}

.card:hover {
  transform: scale(1.05);
}

.complete-card {
  background-color: #2e7d32; /* Change to green color for completed tasks */
  text-decoration: line-through;
}

.card-body {
  padding: 1rem; /* Adjust the padding as needed */
}

/* Add spacing between task description and buttons */
.card-body > span {
  margin-right: 1rem; /* Adjust the margin as needed */
}

/* Add spacing around the Delete button */
.btn-danger {
  margin-left: auto; /* Push the button to the right edge */
}

.form-control {
  margin-right: 1rem; /* Adjust the margin as needed */
}

/* Style for "Add" button */
.btn-primary {
  padding: 0.5rem 1rem; /* Adjust the padding as needed */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
